html,
body {
  overflow: hidden; /*extra space coming from nowhere, this fixes it*/
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}
#blueBackground {
  background-color: rgb(0, 223, 204);
  height: 96vh;
  width: 96vw;
  margin: 2vh 2vw;
}
